html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

header, footer {
  max-width: 100%;
  overflow-x: hidden;
}

.cor_roxa{
  color: #4c00ff;
}
.cor_roxa.active{
  background-color: #3f0bb8 !important;
  color: #fff !important;
}
.cor_roxa:active{
  background-color: #3f0bb8 !important;
  color: #fff !important;
}
.cor_roxa:hover{
  color: #3c0a6b;
}

.cor_roxa_bg{
  background-color: #4c00ff;
}
