--
-- PostgreSQL database dump
--

\restrict DgGSqWCLIvK5neXGhdeoGNMX7qVQVSRwsephfvdQXmmgAZtV68YHvUSclSnoaLr

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agentes; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.agentes (
    id bigint NOT NULL,
    cnpj character varying(255),
    razao_social character varying(255),
    tipo character varying(255)
);


ALTER TABLE public.agentes OWNER TO avnadmin;

--
-- Name: carros; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.carros (
    id bigint NOT NULL,
    imagem_url character varying(255),
    marca character varying(255),
    modelo character varying(255),
    placa character varying(255),
    preco double precision NOT NULL,
    status character varying(255),
    agent_id bigint NOT NULL
);


ALTER TABLE public.carros OWNER TO avnadmin;

--
-- Name: carros_id_seq; Type: SEQUENCE; Schema: public; Owner: avnadmin
--

ALTER TABLE public.carros ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carros_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.clients (
    id bigint NOT NULL,
    address character varying(255),
    cpf character varying(255),
    name character varying(255),
    phone character varying(255),
    rg character varying(255),
    renda double precision
);


ALTER TABLE public.clients OWNER TO avnadmin;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: avnadmin
--

ALTER TABLE public.clients ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.pedidos (
    id bigint NOT NULL,
    car_id bigint NOT NULL,
    client_id bigint NOT NULL,
    data_criacao timestamp(6) without time zone,
    parecer_financeiro character varying(255),
    status character varying(255)
);


ALTER TABLE public.pedidos OWNER TO avnadmin;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: avnadmin
--

ALTER TABLE public.pedidos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pedidos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255),
    name character varying(255),
    password character varying(255)
);


ALTER TABLE public.users OWNER TO avnadmin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: avnadmin
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: agentes; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.agentes (id, cnpj, razao_social, tipo) FROM stdin;
15	123366665589	Tambasa	EMPRESA
16	459988566	555669999	EMPRESA
\.


--
-- Data for Name: carros; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.clients (id, address, cpf, name, phone, rg, renda) FROM stdin;
1	Rua A, 123	12345678900	Diogo	31999999999	1234567	0
3	Rua A, 123	12341678900	Diogo	31999999999	1234527	1200
4	ab├ºnoasf├ºnjsa├ºknjafn├ºjaf├ºknj	145266548	Vinny Vinicius	319965896	2365489	1789
19	Rua Cantor Luiz Gonzaga, 462	14589658741	Vinny Vinicius	2155869658	5648568	0
20	Rua Cantor Luiz Gonzaga, 462	12345679123	toshiro	12123456789	123456799	0
\.


--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.pedidos (id, car_id, client_id, data_criacao, parecer_financeiro, status) FROM stdin;
1	2	4	2026-04-23 22:15:06.26969	EM_ANALISE	PENDENTE
2	0	4	2026-04-23 22:23:13.715936	EM_ANALISE	PENDENTE
3	4	4	2026-04-23 22:34:40.268567	EM_ANALISE	PENDENTE
5	26	3	2026-04-25 10:40:44.672319	EM_ANALISE	PENDENTE
6	27	4	2026-04-25 11:25:51.019118	EM_ANALISE	PENDENTE
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.users (id, email, name, password) FROM stdin;
1	diogo@email.com	\N	123456
3	digo@email.com	\N	123456
4	v@gmail.com	\N	123456
5	agente@driveflix.com	Agente Banco	123456
6	agente@email.com	\N	123456
7		\N	
8	klkn@klnknjnj	\N	123
9	lkn@klnknjnj	\N	123
10	jom@mlklk	\N	123
11	tambas@gmail.com	\N	123456
12	tambasa@gmail.com	\N	123456
13	jeanne@essencialbh.com.br	\N	123456
14	jean@essencialbh.com.br	\N	123456
15	nne@essencialbh.com.br	\N	123456
16	tamb@gmail.com	\N	123456
17	vi@gmail.com	\N	123456
19	vin@gmail.com	\N	123456
20	toshi@gmail.com	\N	123456
\.


--
-- Name: carros_id_seq; Type: SEQUENCE SET; Schema: public; Owner: avnadmin
--

SELECT pg_catalog.setval('public.carros_id_seq', 27, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: avnadmin
--

SELECT pg_catalog.setval('public.clients_id_seq', 4, true);


--
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: avnadmin
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: avnadmin
--

SELECT pg_catalog.setval('public.users_id_seq', 20, true);


--
-- Name: agentes agentes_pkey; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT agentes_pkey PRIMARY KEY (id);


--
-- Name: carros carros_pkey; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.carros
    ADD CONSTRAINT carros_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: clients fk1hgwdp9vl25xl9i7s354sifey; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT fk1hgwdp9vl25xl9i7s354sifey FOREIGN KEY (id) REFERENCES public.users(id);


--
-- Name: carros fk_carros_agent; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.carros
    ADD CONSTRAINT fk_carros_agent FOREIGN KEY (agent_id) REFERENCES public.agentes(id);


--
-- Name: agentes fkrwf6t9taj7dgab4dqdwoqkhkb; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT fkrwf6t9taj7dgab4dqdwoqkhkb FOREIGN KEY (id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict DgGSqWCLIvK5neXGhdeoGNMX7qVQVSRwsephfvdQXmmgAZtV68YHvUSclSnoaLr

